<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Zedtown</title>

<link rel="stylesheet" href="/stylesheets/normalize.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/zedtown.css" type="text/css" media="screen" />

</head>
<body>

    <img src="images/logo.png">

    <div id="scoreboard">
        <div id="survivors">
            <h2>Survivors</h2>
            <h3><%= @num_survivors %></h3>
        </div>
        <div id="zombies">
            <h2>Zombies</h2>
            <h3><%= @num_zombies %></h3>
        </div>
    </div>

    <table id="list">
        <thead>
            <tr>
                <td>Player ID</td>
                <td>Name</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            <% for @player in @players %>
            <tr>
                <td class"number"><%= @player[:number] %></td>
                <td class="name"><%= @player[:name] %></td>
                <td class="status"><%= @player[:status] %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

</body>
</html>